[submodule "mono2micro-masterclass-class01"]
	path = mono2micro-masterclass-class01
	url = https://github.com/gpfaltz/mono2micro-masterclass-class01.git
[submodule "mono2micro-masterclass-class02"]
	path = mono2micro-masterclass-class02
	url = https://github.com/gpfaltz/mono2micro-masterclass-class02.git
[submodule "mono2micro-masterclass-class03"]
	path = mono2micro-masterclass-class03
	url = https://github.com/gpfaltz/mono2micro-masterclass-class03.git
[submodule "mono2micro-masterclass-class04"]
	path = mono2micro-masterclass-class04
	url = https://github.com/gpfaltz/mono2micro-masterclass-class04.git
[submodule "mono2micro-masterclass-class05"]
	path = mono2micro-masterclass-class05
	url = https://github.com/gpfaltz/mono2micro-masterclass-class05.git
